h1 {
    text-align: center;
}

.red {
    color:red;
}

.blue {
    color:blue;
}

.green {
    color: green;
}

.large {
    font-size: 50px;
}

.small {
    font-size: 10px;
}

.align {
    text-align: center;
    position: relative;
}

.bold {
    font-weight: bold;
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.adjustment1{
    font-size: 50px;
    color: orange;
    font-weight: bold;
}

.styledFont{
    color:green;
}

#styledImage{
    width:50px;
    border: 5px solid black;
}









